# build output
dist/

# generated astro
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
*.env
*.env.production
*.env*.local
*.env*

# prisma
*generated/*

# specific files
*.DS_Store
*.vercel
*__MACOSX__/
*.vscode/
*.idea/
*.cursor/
*.claude