---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import SpotifyPresence from '@/components/features/SpotifyPresence.tsx'
import WakatimeBox from '@/components/features/WakatimeBox.tsx'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-3xl">raihan pk</CardTitle>
          <CardDescription
            >/ˈraɪ.han.peˈka/ &bull; <span class="font-semibold">person</span
            ></CardDescription
          >
        </CardHeader>
        <CardContent>
          <p class="mb-2 text-sm text-muted-foreground">
            Welcome to my digital home. 
            <br>
            <Link
              href="https://raihanpk.com"
              class="text-foreground"
              underline>raihanpk.com</Link
            >
            is not just a digital home, this is a space to connect and grow. 
            Links open doors, words build bridges, and every click sparks a conversation. 
            <b>Explore, engage, and let’s share ideas</b>.
          </p>
        </CardContent>
      </Card>
    </section>

    <section class="flex flex-wrap gap-4">
      <div role="region" aria-label="Wakatime Section"
      class="flex h-[170px] w-[calc(50%-0.5rem)] flex-col items-start whitespace-nowrap rounded-lg border px-2 py-2 text-xs leading-loose text-white max-md:w-full">
      <WakatimeBox omitLanguages={['Markdown', 'JSON']} client:load />
      </div>

      <div role="region" aria-label="Spotify Section"
      class="flex h-[170px] w-[calc(50%-0.5rem)] flex-col items-start whitespace-nowrap rounded-lg border px-2 py-2 text-xs leading-loose text-white max-md:w-full">
      <SpotifyPresence client:load />
      </div>
    </section>

    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
