---
import { cn } from '@/lib/utils'
import SpeedInsights from '@vercel/speed-insights/astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={cn('mx-auto max-w-screen-md px-4', className)}><slot /></div>
<SpeedInsights />
