---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Umami Analytics -->
    <script 
      is:inline type="text/partytown" 
      defer src="https://cloud.umami.is/script.js" 
      data-website-id="d5f41f5f-8925-4e9a-91a1-b7226a775f8a">
    </script>
    <Head
      title={`${title} | ${SITE.TITLE}`}
      description={description}
      image={image}
    />
  </head>
  <body>
    <div class="box-border flex h-fit min-h-screen flex-col gap-y-6 font-sans antialiased">
      <Header />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
